.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    min-height: 60px;
}

.user-profile {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.user-profile figure {
    margin: 0;
}

.user-info {
    color: #303030;
    font-size: 0.95rem;
    font-weight: 600;
}

.user-profile img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ece7e7;
}

@media (max-width: 767px) {
    .topbar {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }
}
